<h3>Edit a player's information</h3>

<%= form_for @player do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

   <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </p>

  <p>
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </p>

    <p>
    <%= f.label :seed %><br>
    <%= f.text_field :seed %>
  </p>

    <p>
    <%= f.label :draw_line_number %><br>
    <%= f.text_field :draw_line_number %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


