<%=link_to "Edit Player's Info", edit_path%><br>
<%= link_to "Delete this Player!", @player, method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %>

<h1><%= @player.first_name %> <%= @player.last_name %></h1>
<p><%= @player.country %></p>

<p><%=link_to "Back", '/players' %>





