<% provide(:title, "Player Info") %>
<body id="players-page">

<p><%=link_to "Back", '/players' %>

<div class='playerphotos'>
  <a href="/players"> <img class='player-photo' src="<%= @player[:photo] %>" ></a>
</div>

<h1><b><%= @player.first_name %> <%= @player.last_name %></b></h1>
<p>Country:  <%= @player.country %></p>
<p>Ranking:  <%= @player.ranking %></p>
<p>Age:  <%= @player.age %></p>
<p>Birthdate:  <%= @player.birthdate %></p>
<h2><b>Australian Open</b></h2>
<p>Seed Number:  <%= @player.seed %></p>
<p>Draw Line Number:  <%= @player.draw_line_number%></p>

<body id="players-page">









