<% provide(:title, "country list") %>
<body id="admins-page">

<p><%=link_to "Back", '/admins' %></p>
<h2>Countries with Tennis Federations</h2>
<% counter = 0 %>
<% @countries.each do |country| %>
  <div>

    ID: <%= country[:id] %><br>
    <% if current_user[:admin]%>
      Country: <%= link_to country[:country], country_path(country) %><br>
    <% else %>
      Country: <%= country[:country] %><br>
    <% end %>
      Country Code: <%= country[:country_code] %><br>
      President: <%= country[:president] %><br>
    <% counter = counter + 1%>
    </div>

    <br>
<% end %>
     There are <%= counter %> tennis federations

</body>


